html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.class{
    position: absolute;
    padding: 10px;
}
.god{
    align-items: center;
    position: relative;
    width: 150px;
    height: 70px; 
    cursor: pointer;
    text-align: center;
    background-color: burlywood;
    border-radius: 5px;
    border-color: burlywood;
    padding: 15px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:hover.god{
    background-color: aqua;
    border-color: aqua;
}

#bur{
    display: none;
    width: 150px;
    height:70px; 
    background-color: brown;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-style: normal;
    font-size: larger;
    padding: 10px;
    border: 1px solid red;

}
@media only screen and (max-width:768px) {
    .class{
        top:45%;
        left:30%;
    }
}